.vscode/
.yarn/
node_modules/
.eslintrc.js
.eslintignore
.prettierignore
prettier.config.js
test.log
tsconfig.eslint.json
yarn-error.log
babel.config.js
jest.config.js
*.tsbuildinfo

# Symlinks
packages/core/lib
packages/core/templates

# Ignore for local dev
*.d.ts
*.d.ts.map
