.vscode/
node_modules/

.eslintrc.js
.eslintignore
.prettierignore
prettier.config.js
test.log
tsconfig.json
tsconfig.eslint.json
yarn-error.log
babel.config.js
jest.config.js

# Symlinks
packages/core/configs
packages/core/scripts
packages/core/templates
